* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #E7ECEF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.scoreboard-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #0A2742;
  padding: 2rem;
  border-radius: 1rem;
  width: 80%;
  max-width: 600px;
  margin-top: 2rem;
}

.team {
  text-align: center;
  color: #fff;
}

.team h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.score {
  font-size: 3rem;
  margin-bottom: 1rem;
  min-width: 60px;
}

.buttons {
  display: flex;
  gap: 0.5rem;
}

.buttons button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: none;
  border-radius: 0.3rem;
  background-color: #1B4965;
  color: #fff;
  transition: background-color 0.3s;
}

.buttons button:hover {
  background-color: #2F5E77;
}

.new-game-container {
  margin-top: 1rem;
}

.new-game-btn {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: none;
  border-radius: 0.3rem;
  background-color: #FF6B35;
  color: #fff;
  transition: background-color 0.3s;
}

.new-game-btn:hover {
  background-color: #D55623;
}

@media (max-width: 600px) {
  .scoreboard-container {
    flex-direction: column;
    width: 90%; /* Un poco más amplio en móvil para evitar recortes */
    margin-top: 1rem;
  }

  /* Si deseas que cada sección (HOME y GUEST) tenga margen entre ellas */
  .team {
    margin-bottom: 1rem;
  }
}

.new-game-container {
  margin-top: 1rem;
  text-align: center; /* Para centrarlo */
}

@media (max-width: 600px) {
  .new-game-container {
    margin-top: 1rem;
  }
}